* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.layout {
  display: flex;
  height: 80vh;
  width: 80vw;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-half,
.right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-half {
  position: relative;
  padding: 20px 0 20px 20px;
}

.illustration {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #ff9933, #ffcc66);
}

.illustration img {
  max-width: 80%; /* Adjust the max-width to make the image smaller */
  max-height: 80%; /* Adjust the max-height to make the image smaller */
  width: auto;
  height: auto;
  border-radius: 16px;
}

.right-half {
  flex-direction: column;
  padding: 20px;
}

.header-nav {
  align-self: flex-end;
}

.header-nav a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.login-form p {
  margin-bottom: 20px;
  color: #777;
}

.recovery-link {
  display: block;
  margin-bottom: 20px;
  color: #777;
  text-decoration: none;
  font-size: 14px;
}

.login-form button {
  width: 50%;
  padding: 10px;
  background: #fab877;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.login-form button:hover {
  background: #ff9933;
}

.social-text {
  margin: 20px 0;
  color: #777;
}

.social-icons img {
  width: 40px;
  margin: 0 10px;
  cursor: pointer;
}

.social-icons img:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    height: auto;
    width: 90vw;
  }

  .left-half,
  .right-half {
    width: 100%;
    height: 50vh;
  }
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.rotate-in-2-tl-ccw {
  -webkit-animation: rotate-in-2-tl-ccw 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-2-tl-ccw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* container List */

.MuiTableCell-root {
  padding: 16px;
}

.MuiTableCell-head {
  font-weight: bold;
}

.MuiBadge-dot {
  height: 10px;
  min-width: 10px;
  border-radius: 50%;
}
